.badge {
    padding: 1px 9px 1px;
    font-size: 12.025px;
    font-weight: bold;
    white-space: nowrap;
    color: #ffffff;
    background-color: #999999;
    -webkit-border-radius: 9px;
    -moz-border-radius: 9px;
    border-radius: 9px;
    margin-right: 5px;
}

.badge-normal {
    background-color: #f89406;
}

.badge-accepted {
    background-color: #468847;
}

.badge-none {
    background-color: #b94a48;
}
